
ul{
  
    font-size: large;   
}

#meal-category{
    font-size: x-large;
}

Link{
    text-decoration: none;
}

.accordion-item{
  border-radius: 15px;
  border-color: #1f2746;
  padding-bottom: 10px;
  background-color: #1f2746;
}
.accordion-body{
  background-color: #1f2746;
}
.accordion-button {
  background: rgb(23, 28, 50);
  background: linear-gradient(
    90deg,
    rgba(23, 28, 50, 1) 30%,
    rgba(23, 28, 50, 0) 100%
  );
  font-size: calc(1.5rem + 1.5vw);
    background-color: #1f2746;
  }
  button.accordion-button{
    background-color: #1f2746;
    color:#e5e8f2;
  }
  .accordion-button:focus {
    box-shadow: none;
    
  }
  
  .accordion-button:not(.collapsed) {
    color: #80F57E;
    font-size: calc(1.5rem + 1.5vw);
    background-color: #1f2746;
  }

  .weeklyplanner-container{
    display:flexbox;
    width: 100%;
    justify-content: center;
    
  }
  .weeklyplanner-accordion-links > a {
    color:#e5e8f2;
  }
  .weeklyplanner-accordion-links > a:hover {
    color:#80F57E;
  }