.card {
  color: black;
}
#ingredient {
  font-size: small;
}
li#ingredient {
  list-style: circle;
  margin-left: 20px;
}
.table > :not(caption) > * > * {
  border-bottom: none;
}
table {
  background-color: #171c32;
}
th,
td,
th:hover,
td:hover {
  color: #e5e8f2;
}
.rows:hover {
  background-color: #1f2746;
}
Form {
  background: rgb(23, 28, 50);
  background: linear-gradient(
    90deg,
    rgba(23, 28, 50, 1) 30%,
    rgba(23, 28, 50, 0) 100%
  );
}
#add-ingredient,
#submit-recipe,
button.dropdown-toggle.btn.btn-secondary {
  background-color: #171c32;
  border-color: #171c32;
  border-radius: 15px;
}
div#recipe-update-delete {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
}
#recipecard {
  margin-top: 20px;
}
#ingredient-add-text-btn {
  display: flex;
  align-items: flex-end;
}

.form-group {
  padding: 10px;
}
form#createrecipe {
  border-radius: 15px;
}
#instructions {
  margin-left: 12px;
  flex-shrink: inherit;
}
